.my-card{
    box-shadow: var(--shadow);
    margin: 2rem;
    border-radius: 0.5rem;
    min-width: 100px;
    flex: 1;
}

.ant-card-head-title{
  margin: 0rem !important;
  font-weight: 600;
  font-family: montserrat,
  sans-serif !important;
}

.my-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 2rem auto;
    flex-wrap: wrap;
    gap: 16px;
}

.my-card p{
    margin: 0;
}

@media (max-width: 738px){
    .my-row{
        flex-direction: column;
        width: 100%;
    }

    .my-card{
        width: 100%;
    }
}
