.wrapper, .charts-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.charts-wrapper{
  width: 93%;
  justify-content: space-between;
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin: 2rem;
}


@media (max-width: 738px) {
  .charts-wrapper {
    flex-direction: column;
    width:100vw;
  }

  .text-center{
    text-align:center;
  }
}