@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,400;0,700;1,400;1,500&display=swap');

:root {
   --theme: #2970ff;
   --black: #000;
   --white: #fff;
   --shadow: 0px 0px 30px 8px rgba(227,227,227, 0.75);
}

body {
  margin: 0;
  font-family: montserrat,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 738px){
  body{
box-sizing: border-box;

  
  }
}
